.button {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.button h3 {
  border: solid 1px blue;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Nunito Sans", serif;
  font-weight: lighter;
}
