.header {
  background-color: #1c1c1c;
  text-align: left;
  padding: 1%;
  display: flex;
  justify-content: space-around;
}

.canadaFlag {
  align-self: center;
  display: flex;
  width: 5%;
  margin-left: 1em;
  margin-right: 1em;
}

.title {
  align-self: center;
  font-size: 1.5em;
  color: white;
}
